* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
    /* background-color: #c3c3c3; */
    box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.62);
}

.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.plano {
    height: 800px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}