* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
canvas {
    position: absolute;
    box-shadow: 10px 10px 31px -7px rgba(0,0,0,0.62);
}

.main-container {
    display: flex;
    align-items: stretch;
    padding: 50px 0 0 60px;
}

.wrapper {
    display: flex;
    height: 800px;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.plano {
    height: 800px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.input {
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

.input h2 {
    font-size: 3.5rem;
    text-align: center;
    margin: 20px 0;
}

.input span {
    font-size: 1.8rem;
    text-align: center;
}

.input input {
    width: 150px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #5782d8;
    text-align: center;
}

.input label {
    text-align: center;
}

.botones {
    text-align: center;
}

.botones button {
    height: 60px;
    width: 135px;
    color: #fff;
    font-size: 1.8rem;
    background-color:#4eb5f1;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}

.botones div {
    width: 200px;
    height: 70px;
}

.botones button:hover {
    height: 65px;
    width: 140px;
    background-color:#4095c6;
    cursor: pointer;
}


/* .input label, button{
    display: block;
}

.input button, input {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}


.input_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.botones {
    display: flex;
    height: 70px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botones div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.input button {
    color: #fff;
    font-size: 1.8rem;
    background-color: #789be1;
    position: absolute;
}

.input button:hover {
    width: 110px;
    height: 45px;
    background-color: #5782d8;
    cursor: pointer;
} */